.app {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    height: 100vh;
    background-color: #363636; /* Dark grey background color */
    color: #fff; /* Text color */
  }
  
  input[type="text"],
  input[type="password"] {
    flex: 1px ; /* Make the text fields expand to fill available space */
    height: 28px;
    margin-top: 10px; /* Adjusted margin-top for text input */
    border: 0.4px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    padding: 10px; /* Adjusted border color */
  }
  
  input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #01d28e; /* Green Color */
    border: 1px solid #01d28e;
    border-radius: 4px;
    color: #fff; /* White Text */
    padding: 3%; /* Equal padding on all sides */
    width: 100%; /* Make the button full width */
  }
  
  .button-container {
    display: flex;
    justify-content: center; /* Center the button horizontally */
  }
  
  .login-form {
    background-color: rgba(0, 0, 0, 0.63);
    background-image: url('C:\Users\Abhimanyu Singh\OneDrive\Desktop\New folder\zentrades_assignment\login_page.png');
    padding: 140px; /* Adjusted padding */
    background-position: top; 
    height: 250px; 
    width: 250px;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px; 
  }
  
  .list-container {
    display: flex;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .title {
    font-size: 25px;
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 90px; /* Add margin only to the top and bottom */
  }
  
  .forgot-password {
    margin-top: 10px;
    text-align: center;
  }
  
  .forgot-password a {
    color: #ffffff45 !important; /* White Text */
    text-decoration: none;
    cursor: pointer;
  }
  
  .forgot-password a:hover {
    color: #fff !important; /* White Text */
    text-decoration: underline;
  }
  
